<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <section class="main-section">
        <div class="form-section">
            <form id="add-contact" action="/" method="POST">
                <div class="form-container">
                    <div class="form-row">
                        <div class="form-item">
                            <label class="form-label" for="firstname">Nombre</label>
                            <input class="form-input" type="text" name="firstname">
                        </div>
                        <div class="form-item">
                            <label class="form-label" for="lastname">Apellido</label>
                            <input class="form-input" type="text" name="lastname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-input" type="text" name="email">
                        </div>
                        <div class="form-item">
                            <label class="form-label" for="phone">Telefono</label>
                            <input class="form-input" type="text" name="phone">
                        </div>
                    </div>
                </div>
                <div class="form-btns">
                    <button class="add-check-btn" type="submit"><i class="fa-solid fa-check"></i></button>
                    <button class="delete-check-btn" type="reset"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </form>
        </div>
        <div class="students-section">
            <div class="student-card">
                <h4>Alumnos</h4>
                <h3>140</h3>
            </div>
            <div class="student-card">
                <h4>Contactados / dia</h4>
                <h3><%= contactsCont %></h3>
            </div>
        </div>
        <div class="search-section">
            <h2>Busca un alumno / contacto</h2>
            .
            <input type="text" placeholder="ej: Rodrigo Scolnic">
        </div>
        <div class="lastContact-section">
            <% if(lastContact == undefined){ %>
                <div class="lastContact-card">
                    <h2>Aun no has cargado ningun contacto</h2>
                </div>
            <% }else{ %>
                <div class="lastContact-card">
                <div class="lastContact-mainInfo">
                    <h3><%= lastContact.firstname %></h3>
                    <p><%= lastContact.createdAt %></p>
                </div>
                <hr>
                <div class="lastContact-comment">
                    <div class="comment-content">
                        <h4>comentario: </h4>
                        <p><%= lastContact.comments %></p>
                    </div>
                    <div class="comment-btn">
                        <button><i class="fa-solid fa-angle-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="lastContact-info">
                    <div class="mail-info">
                        <label for="email">email</label>
                        <p><%= lastContact.email %></p>
                    </div>
                    <div class="phone-info">
                        <label for="phone">phone</label>
                        <p><%= lastContact.phone %></p>
                    </div>
                    <div class="isStudent">
                        <label for="isStudent">es alumno</label>
                        <% if(lastContact.isStudent != 1) {%>
                            <p>NO</p>
                        <% }else {%>
                            <p>SI</p>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            
        </div>
        
    </section>

</body>

<script src="./script/script.js"></script>
<script>

    const successBtn = document.querySelector('.add-check-btn')

    const Toast = Swal.mixin({
                toast: true,
                background: 'crimson' ,
                color: 'white',
                position: 'center',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                
            })
    
    successBtn.addEventListener('click' , ()=>{
        Toast.fire({
        icon: 'success',
        title: 'Contacto guardado'
        })

        setTimeout(function() {
         window.location.href = '/';
       }, 2000);
    })

    
    

    
</script>

</html>